body { 
	background: #222;
	color: #ddd; 
	margin: 0; 
}

* {
	outline: none;
}

a {
	color: #2682B9;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.hide { display: none; }
.show { display: block; }
.center { text-align: center; }
code { font-family: "Monaco", consolas; }

button {
	background: none;
	border: none;
	color: white;
	font-size: 100%;
	padding: 5px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

p.center.bottom {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	margin: 0;
	height: 50px;
	border-top: 1px solid #aaa;
}

p.center.bottom button {
	width: 100%;
	height: 100%;
}


/* ------------------------------ */
/* ------------ Game ------------ */
/* ------------------------------ */
#game {
	width: 300px;
	height: 500px;
	background: #333;
	margin: auto;
	position: relative;
	overflow: hidden; 
}

#red, #blue {
	position: absolute;
	width: 20px;
	height: 20px;
}
.wall {
	background-color: #ddd;
	position: absolute; 
}

/* -------------------------------- */
/* ------------ Topbar ------------ */
/* -------------------------------- */
#topbar {
	background-color: #202020;
	text-align: center;
	height: 30px;
	line-height: 30px;
	z-index: 90;
}