body { 
	background: #222;
	color: #ddd; 
	margin: 0; 
}

* {
	outline: none;
}

#topbar {
	position: absolute;
	background-color: #252525;
	color: #ddd;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	z-index: 50;
}

#game, #menu, #lose, #settings, #levels-panel {
	background: #555;
	width: 300px;
	height: 500px;
	margin: auto;
	position: relative;
	z-index: 100;
}

#game {
	overflow: hidden;
	transition-property: background;
	transition-duration: .1s;
}

#debug {
	font-family: Monaco;
	padding: 10px;
	margin: 0 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #aaa;
}

#blue, #red {
	display: block;
	width: 20px;
	height: 20px;
	/*background-color: #f00;*/
	position: absolute;
	transition-property: background;
	transition-duration: .5s;
}



#blue {
	right: 0;
}

.wall {
	background-color: #ccc;
	display: block;
	position: absolute;
	transition: background-color .1s;
}

#menu, #lose, #settings, #levels-panel {
	color: white;
	background-color: rgba(15, 15, 15, 0.9);
}

/* ------------------------------ */
/* ------------ menu ------------ */
/* ------------------------------ */

#menu ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin: 0;
	line-height: 50px;
	height: 100%;
}



#menu button,
#menu li {
	background: none;
	border: none;
	color: #ccc;
	font-size: 130%;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	cursor: default;
}

#menu li {
	height: 125px;
	line-height: 125px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#menu li:last-of-type {
	border-bottom: none;
}


#menu button {
	height: 100%;
	width: 100%;
	cursor: pointer;
	position: relative;
}
#menu button::before {
	display: block;
	position: absolute;
	content: "";
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	transition: all .3s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

#menu button:hover::before {
	opacity: 1;
	transition: all .3s;
}

/* ------------------------------ */
/* ------------ lose ------------ */
/* ------------------------------ */

#lose {
	line-height: 1;
	text-align: center;
	font-size: 200%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: default;
}
#lose p {
	margin: 20px 0;
}
#lose p:first-child {
	margin-top: 150px;
}
#lose button {
	border: none;
	background: none;
	font-size: 60%;
	color: #ddd;
	margin: 0;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
	transition: all .2s;
}

#lose button:hover,
#settings button:hover,
p.center.bottom button:hover {
	background-color: rgba(255, 255, 255, 0.1);
	transition: all .2s;
}


#score {
	font-family: 'consolas';
}

/* ---------------------------------- */
/* ------------ settings ------------ */
/* ---------------------------------- */

#settings {
	font-size: 120%;
	border: 1px solid transparent;
	box-sizing: border-box;
	position: absolute;
	top: 0;
}
#settings h3 {
	text-align: center;
}

p.center.bottom {
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
}
p.center.bottom button {
	font-size: 90%;
	width: 100%;
	border-radius: 0;
	padding: 10px 0;
	border-radius: 0px;
}

button {
	background: none;
	border: none;
	color: #ccc;
}

/* ------------------------------------- */
/* ------------ Level Panel ------------ */
/* ------------------------------------- */
.level {
	background: none;
	border: none;
	color: white;
	font-size: 100%;
	display: inline-block;
	width: 65px;
	height: 65px;
	margin: 10px 5px;
	/*background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));*/
	position: relative;
	transition: all .1s;
	cursor: pointer;
}
.level:hover {
	background-color: rgba(255, 255, 255, 0.1);
	transition: all .1s;
}
.level[block] {
	opacity: 0.5;
	cursor: default;
}
.level[block]:hover {
	background: none;
}
#level-panel {
	position: absolute;
}

/* -------------------------------- */
/* ------------ global ------------ */
/* -------------------------------- */


a {
	color: #2682B9;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.hide { display: none; }
.show { display: block; }
.center { text-align: center; }
code { font-family: "Monaco", consolas; }
